<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body class="bg-secondary">
    <div class="container">
        <div class="row">
            <div class="jumbotron mx-auto bg-dark col-6">
                <form action="/message" method="post">
                    <input type="text" name='name' class="form-control" placeholder="name">
                    <textarea name="message" class="form-control" placeholder="message"></textarea>
                    <input type="submit" class="btn btn-info text-dark text-center" value="Submit message">
                </form>
            </div>
        </div>
        <div class="row">
                <hr class="my-3 bg-info col-6">
            <hr class="my-3 bg-info col-6">
        </div>
            <table class="table table-dark table-striped table-bordered">
                <% for(var x in posts){%>
                <tr>
                <th class="text-info">By <%=posts[x].poster%> on <%=posts[x].createdAt.toLocaleTimeString('en-us', { hour: '2-digit', minute: '2-digit', month: 'numeric', day: '2-digit', year: 'numeric' })%></th>
                </tr><tr>
                <td class="text-info"><%=posts[x].message%></td>
                <%if(posts[x]._comments.length>0){%>
                <% for (var y of posts[x]._comments){%>
                <tr>
                    <td>By <%=y.poster%> on <%=y.createdAt.toLocaleTimeString('en-us', {hour: '2-digit', minute: '2-digit', month:'numeric', day:'2-digit', year:'numeric'})%></td>
                </tr>
                <tr>
                    <td><%=y.comment%></td>
                </tr>
                <%}%>
                <%}%>
                <tr>
                    <td>
                    <form class="col-6" action="/message/<%=posts[x]._id%>" method="post">
                        <input type="text" name="name" class="form-control" placeholder="name">
                        <textarea name="comment" class="form-control" placeholder="comment"></textarea>
                        <input type="submit" class="btn btn-info text-dark text-center" value="Submit comment">
                    </form>
                    </td>
                </tr>
                
                <%}%>
            </table>
        
        
    </div>
</body>
</html>